
@model Store_Front.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="navbar">

    @Html.ActionLink("Back to Index", "Index")

</div>


<p>
    @using (Html.BeginForm("Search", "Search"))
    {
        <div class="form-inline">
            @Html.LabelFor(m => m.SearchText)
            @Html.TextBoxFor(m => m.SearchText)
            <input type="submit" class="btn btn-info" value="Search" />
        </div>
    }
</p>

@if (Model.Results.Any())
{

    var products = Model.Results.ToList();
    <div class="container">
        <table class="table table-hover" id="table" name="table" data-toggle="table" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th class="text-center">
                        Product Name
                    </th>

                    <th class="text-center">
                        Image
                    </th>

                    <th class="text-center">
                        Price
                    </th>

                    <th class="text-center">Add Item to Cart</th>

                </tr>
            </thead>

            <tbody id="SearchResults" class="text-center">
                @foreach (var item in products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>

                        <td>
                            @if (item.ImageFile != null)
                            {
                                <img width="60" src="@Url.Content(item.ImageFile)" alt="Image" name="DBImage" />
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                        <td>
                        <input type="button" class="btn btn-info" id="AddToCart" name="AddToCart" onclick="AddToCart(@item.ProductID)" value="Add To Cart" />
                            </td>
                    </tr>
                       <div id="row-@item.ProductID" class="alert-success"></div>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <textarea class="alert" name="nResult">No products found.</textarea>
}






@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('table').DataTable({
                filter: false,
                lengthChange: false,
                pageLength: 50
            });
        });


        function AddToCart(itemID) {
            $.ajax({
                url: '/Search/AddToCart',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: itemID }),
                type: 'POST',
                dataType: 'json'
            })
            .success(function (result) {

                if (result.Success) {
                    $('#row-' + itemID).text(result.Message).fadeIn(3000);
                    $('#row-' + itemID).fadeOut(3000);
                } else {
                    alert(result.Message);
                }

            })
            .error(function (xhr, status, result) {
                alert(result.Message);
            })
        }

    </script>
}
